html{
  font-size: 18px;
  scroll-behavior: smooth;
  margin-right: 0;
}
body {
    margin: 0px;
    padding: 0;
    font-family: 'Inter';
    border-radius: 10px;
}
span#current-month-year {
    FONT-SIZE: 28px;
    font-family: 'Inter';
    color: black;
}
#month {
  text-align: center;
  font-size: 20px;
  margin-bottom: 10px;
  padding: 20px;
}

.days {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}
.day {
  padding: 10px;
    border: 1px solid lightgray;
    text-align: right;
    width: 202px;
    height: 100px;
}

.day-names {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.day-name {
  text-align: center;
  font-weight: bold;
  text-transform: capitalize;
}
.tables{
    display: flex;
    flex-direction: column;
    width: 1000px;
}
.main_table{
    background-color: white;
    margin-top: 20px;
    margin-right: 10px;
    border-radius: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
.title_dashboard{
    padding: 20px;
}
.content {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Inter'; 
    margin-top: 0px;
  
}
.table_avenir{
    background-color: white;
    margin-top: 20px;
    width: 340px;
    padding-bottom: 30px;
    border-radius: 16px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
}
#date{
    font-size: 15px;
    color: #36393f;
    padding-left: 20px;
}
div#right1{
  margin-left:15px ;
}

.search-container {
  height: 20px;
  display: flex;
  align-items: center;
  border-radius: 20px;
  overflow: hidden;
  background-color: white;
  padding: 5px;
  border: 1px solid;
  outline: black;
}

.search-container input[type="text"] {
  border: none;
  outline: black;
  background: none;
  color: #94A3B8;
  padding: 10px;
  font-size: 14px;
}
.circle {
    width: 100px; 
    height: 100px; 
    border-radius: 50%; 
    overflow: hidden; 
    position: relative; 
}

.circle img {
    width: 100%; 
    height: auto; 
    display: block;
    position: absolute;
    top: 0; 
    left: 0; 
}


.nav_img img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
}

#horiz {
    background-color: white;
    padding: 20px;
    display: flex;

    }

#horiz div {
      padding: 10px;
      color: #94A3B8;
      font-size: 16px;
      font-family: 'Roboto';
      }
#horiz div:first-child {
      margin-left: 150px;
 }

#horiz div:nth-child(3) {
    margin-right: 26%;
}

@media screen and (min-width: 1600px) {
    #horiz div:nth-child(3) {
        margin-right: 44%;
    }
}
 .nav-max #horiz div:first-child {
        margin-left: 365px; 
    }

  .events li a span#event:hover {
    padding: 10px 50px;
    background-color: #e7e8ea;
} 
.events {
  list-style: none;
}
.events li a span#event {
  border-radius: 4px;
  padding: 10px 50px;
  padding-right: 15px;
  padding-left: 25px;
  margin-left: 30px;
  font-family: inter;
  font-size: 16px;
  color: #1E293B;
}
.events li a span#event:before {
  content: "•";
  color: var(--bullet-color); 
  margin-right: 8px;
}

.events li:nth-child(1) {
  --bullet-color: red;
}

.events li:nth-child(2) {
  --bullet-color: purple;
}

.events li:nth-child(3) {
  --bullet-color: green;
}

span#events {
  margin-left: 35px;
  font-size: 12px;
}

.hr2 {
    background-color: #EEF2F6;
    width: 95%;
    height: 3px;
    display: block;
    border-radius: 196px;
    border: none;
    margin-bottom: 0px;
    padding-bottom: 0px;
    margin: 0px;
}

* {
  padding: 0; margin: 0;  
  font-family: 'Roboto';
  font-size: 1.1rem;
}

body {
  background: var(--primary-color);
  min-width: 100px;
  background-color: #FDE7E7;
}
p{
    padding-left: 10px;
    padding-top: 10px;
    color: #D23939;
}

nav {
  background-color: white;
  scroll-behavior: smooth;
  height: 100vh; 
  
  position: fixed;

  padding: 10px 15px;
    --text-color: whitesmoke;
  --primary-color: #36393f;
  --secondary-color: FFFFFF;
  
  --transition1: 1s;
  --transition2: ease-in-out 0.7s;
    
}
nav header {
  display: flex;
  align-items: center;
  gap: 30px;
}

nav  .box {
  background: var(--logo);
}

nav ul {
  list-style: none;

  display: flex;
  flex-direction: column;
  gap: 10px;
}

nav a {
  text-decoration: none;
  height: 100%;
  width: 100%; 
  display: flex;
  align-items: center;
  gap: 20px;
}

.nav-min {
 width: 80px;
 transition: var(--transition2);
}
.nav-min h1, .nav-min span {
  opacity: 0;
  visibility: hidden;
  transition: var(--transition1);
}
.nav-max { 
  width: 250px;
  transition: var(--transition2);
  scroll-behavior: smooth;
}
li img {
    margin-left: 25px;
    width: 18px;
}
.nav-max span, .nav-max h1 {
  opacity: 1;
  transition: 3s;
  font-family: 'Roboto';
    font-size: 16px;
    color: #94A3B8;
  
}
#toggle-nav-btn {
  right: -12px;
  position: absolute;
  border: solid grey 2px;
}
.box {
  background: var(--primary-color);
  min-width: 50px; max-width: 50px;
  height: 50px;
  border-radius: 10px;
}

.circle {
  background: var(--primary-color);
  width: 25px; height: 25px;
  border-radius: 50%;
}

.hr1 {
  background-color: #EEF2F6;  width: 95%; height: 3px;
  display: block;
  border-radius: 196px;
  border: none;
  position: relative;
  margin-bottom: 10px;
  padding-top: 0px;
}

header, ul {
  overflow: hidden;  
}

hr#hr2 {
    margin-top: 25px;

}
.hidden {
  display: none;
}
.menu_title {
    color: #94A3B8;
    font-weight: lighter; 
    text-transform: uppercase; 
    padding-left: 25px;
    font-size: 16px;
    padding-bottom: 5px;
    padding-top: 0px;
}
.table {
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  margin-bottom: 20px;
}

.table-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 20px;
}
.view-all {
  padding: 8px 15px;
  color: #00ACE8;
  text-decoration: none;
  border: none;
  border-radius: 15px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
  display: flex; 
  align-items: center;
  margin-right: 0;
}
.view-all img {
  margin-left: 8px;
}
table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 15px;
  margin: 15px;
  
}
table thead th {
  padding: 10px;
  text-align: left;
  color: #BFBFBF; 
  font-weight: normal; 
  border-bottom: 1px solid #EAEAEA; 
}

table tbody td {
  padding: 10px;
  font-size: 18px;
}
th{
  font-size: 16px;
  color: #BFBFBF;
  border-bottom: 1px solid #eaecef;

}
.status {
  display: flex;
  align-items: center;
}
td.status {
  padding-top: 10px;
}
.status-dot {
  height: 12px;
  width: 12px;
  border-radius: 50%;
  margin-right: 10px;
}
.accepte {
  background-color: #4CAF50; 
}
.attente{
  background-color: #00ACE8;
}
.refuse {
  background-color: #F44336;
}
.detail{
  background-color: #00ACE8;

}
td.action{
  padding-left: 0px;
}
.action-btn {
  border: none;
  background: none;
  cursor: pointer;
  color: #333;
  font-size: 16px;
  text-decoration: none;
  padding-left: 0px;
}
.table_statut .table-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
}
.table_statut .table-header .view-all {
  display: flex;
  align-items: center;
  text-decoration: none;
}
.table_statut .table-header .voir-all-icon {
  margin-left: 8px;
  margin-right: 10px;
}
.voir-all-icon {
  width: 20px;
    height: 20px;
}
.table_statut {
  background-color: #FFFFFF; 
  width: 1000px;
}
.action-btn.accepter {
  background-color: #4CAF50; 
  color: white; 
  border-radius: 25px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.action-btn.details{
  background-color: #00ACE8; 
  color: white; 
  border-radius: 25px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.action-btn.refuser {
  background-color: #F44336; 
  color: white; 
  border-radius: 25px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.action-btn.ajouter{
  background-color: orange; 
  color: white; 
  border-radius: 25px;
  padding: 5px;
  padding-right: 10px;
  padding-left: 10px;
}
.list_type {
  display: flex; 
  justify-content: space-around; 
  padding: 20px; 
  background-color: #f5f5f5;
}
.info_bnv .back-button{
  background-color: #f5f5f5;
  margin-top: 30px;
}
.list_type a {
  text-decoration: none; 
  color: #333; 
  font-weight: bold; 
  font-size: 16px; 
}
.lists{
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  min-width: 950px;
}
.link_list.active {
  color: #FF0000 !important; 
}
.search {
  margin-bottom: 20px;
  text-align: center;
  margin-top: 20px;
}

.search input[type="text"] {
  width: 250px;
  height: 40px;
  padding: 0 10px;
  margin-right: 10px;
  border: 1px solid #ccc;
  border-radius: 25px;
  box-shadow: inset 0 1px 3px #ddd;
  font-size: 16px;
}
.search button {
  width: 120px;
  height: 40px;
  background-color: #D23939;
  color: white;
  border: none;
  border-radius: 25px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease;
}
.search button:hover {
  background-color: #963b3b;
}
.info_bnv{
  background: #FFFFFF;
  border-radius: 8px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  width: 950px;
}
.infos{
  padding: 20px;
  text-decoration: none;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(2, 1fr); 
  gap: 10px
}
.infos li {
  list-style-type: none; 
  margin: 0; 
}

.infos li span {
  font-weight: bold;
}
.filtrer{
  display: flex;
  padding-left: 20px;
}
.p_filtre{
  margin-top: 0px;
  padding-top: 0px;
  font-size: 16px;
  color: #333;
  padding-left: 0px;
  margin-bottom: 10px;
  text-decoration: none;
}
.filtrer img{
  padding-top: 40px;
  padding-right: 10px;
}
.container_search{
    display: flex;
    justify-content: space-between; 
}
#add_link{
  color: #00ACE8;
  text-decoration: none;
  font-size: 16px;
}